/* я пыталась исправить... подвал не совсем вышло, так как в Edge и Опере разных отображения подвалов.
В Опере выглядит точь в точь, в Edge - нет */
.header {
  display: flex;
  align-items: center;
  padding: 90px 70px 90px 47px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__menu {
  width: 23%;
  flex: 0 0 auto;
}

.header__link {
  text-underline-position: under;
  font-size: 18px;
  white-space: nowrap;
}

.header__links-list {
  display: flex;
  gap: 30px;
  text-indent: 4px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  width: 135px;
  margin-left: 20px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: inherit;
  font-size: 18px;
}

.header__address {
  margin-right: 15px;
  justify-self: end;
  flex: 0 0 auto;
  line-height: 135%;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.cover {
  position: relative;
  width: 1100px;
  height: 760px;
  gap: 0px;
  opacity: 0px;
  padding-top: 165px;
  padding-left: 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 100px;
  color:#FFF;
  text-transform: uppercase;
  z-index: 1;
  font-weight: bold;
}

.aligned-text {
  display: block;
  letter-spacing: 2px;
}

.letter-spacing-extended {
  letter-spacing: 38px;
}

.aligned-text_center {
  line-height: 1;
  margin: 20px 2px 20px 285px;
  letter-spacing: 5px;
}


.no-letter-spacing {
  letter-spacing: 0px;
} 

.letter-extended {
  letter-spacing: 10px;
}

.aligned-text_right {
  line-height: 1;
  margin-left: 585px;
  padding-right: 0px;
  letter-spacing: 30px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 135px 0 0 30px;
  gap: 78px;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #FFF;
  padding: 14px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.bet-button:hover {
  color: #000000;
  background-color: #FFF;
}

.lots {
  padding: 182px 0px;
}

.lots__heading {
  padding: 0 0 30px 15px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 50px;
}

.lots__card-list {
  display: flex;
  place-content: center space-between;
  margin: 0 25px 0 25px;
  list-style: none;
}

.lost__card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration-line: none;
}

.card {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  max-width: 334px;
  height: 563px;
  padding: 50px 40px 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: bold;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  text-decoration: none;
  z-index: 1;
  color: #FFF;
  font-size: 20px;
  position: absolute;
  bottom: 50px;
  right: 40px;
  left: 40px;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  text-transform: lowercase;
  text-decoration-line: underline;
  text-underline-position: under;
  margin: 30px 0 0 65px;
}

.about {
  display: flex;
  margin-left: 20px;
}

.about__column {
  justify-content: center;
}

.about__column_text {
  grid-column: 2/4;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
  margin-left: 53px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 105px 0px 100px 70px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 4px 25px 0 70px;
  word-spacing: 0px;
  letter-spacing: 0px;
}

.about__text p {
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.adress_footer {
  padding: 195px 0px 80px 51px;
}

.footer__social-icon {
  width: auto;
  height: 48px;
  top: 0;
  padding-right: 40px;
}

.footer__menu {
  top: 0px;
  margin-left: 0px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  padding-top: 0;
  gap: 38px;
  list-style: none;
}

